.shopping-cart {
    display: flex;
    gap: 5rem;
}


.product-list-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.product-list {
    margin-bottom: 20px;
}


.product-list .productName-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.product-list button {
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.productName{
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    padding-left: 1rem;

}

.productName-li{
    border: 2px solid rgb(8, 154, 245);
    margin: 6px 0px;
    margin-right: 2rem;
    background-color: gray;
    color: #fff;
}

.nameofproduct{
    text-align: center;
}
.minbtn{
    margin-right: 10px;
}